@font-face {
    font-family: Telegrama;
    src: url("../Fonts/Telegrama\ Render/Telegrama Render.ttf");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("../Fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("../Fonts/Roboto/Roboto-Regular.ttf");
}

/*---------------------------------navbar---------------------------------*/

#nav-bar {
    color: #000;
    border-bottom: 2px solid;
}

.toggler-custom{
    border-color: black;
}

.navbar-toggler-icon {
    background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");       
}

.link {
    padding-left: 5vw;
}

#title {
    font-family: Telegrama;
    color: inherit;
    font-size: 2rem;
}

#L {
    color: #50e3c2;
}

.nav-link {
    font-family: Roboto-Bold;
    text-align: left;
    font-size: 1.3rem;
    color: inherit;
}

.dropdown-item {
    font-family: Roboto-Bold;
    font-size: 1rem;
}

.div-center {
    display: flex;
    align-items: center;
}

.btn-custom {
    background-color: #50e3c2;
}


/*------------------------------------------------------------------*/

/*------------------------main--------------------------------------*/

/*---------------------------section1-------------------------------*/
#section1 {
    width: 100%;
    padding-top: 60px;
}

#slogan {
    padding-top: 2rem;
    font-family: Roboto-Bold;
    font-size: 2rem;
    color: #676565;
}

.image{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#logo-leveling {
    max-width: 300px;
}

.subtitle {
    font-family: Roboto-Bold;
    font-size: 2.5rem;
}

#description, .description{
    text-align: justify;
    font-family: Roboto-Regular;
    font-size: 2rem;
    max-width: 75%;
}
/*---------------------------------------------------------------*/

/*-----------------section2--------------------------------------*/

#section2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    background-color: #c9d5ff;
}

#reasons-div {
    max-width: 75%;
}

#section2-title {
    font-family: Roboto-Bold;
    font-size: 2.5rem;
    width: 100vw;
}

.section2-text {
    font-family: Roboto-Regular;
    font-size: 2rem;
    padding-bottom: 2rem;
    list-style: circle;
}

.section2-nosotros-text {
    font-family: Roboto-Regular;
    font-size: 2rem;
    padding-bottom: 2rem;
}

/*------------------------------------------------------------------*/

/*--------------------------section3--------------------------------*/
#section3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 80%;
    align-items: center;
}

.icon-img {
    max-width: 200px;
}

.section3-text {
    font-family: Roboto-Regular;
    font-size: 2rem;
}

.section3-figcaption {
    max-width: 300px;
}
/*------------------------------------------------------------*/

/*-----------------------footer-------------------------------*/

#footer {
    width: 100%;
    padding-top: 1rem;
    border-top: 2px solid;
}

.footer-text {
    font-family: Roboto-Bold;
    font-size: 1.2rem;
}

/*-------------------------------------------------------------*/

/*------------------media queries------------------------------*/

@media(max-width: 800px){
    #slogan{
        font-size: 5vw;
    }

    #logo-leveling {
        max-width: 200px;
    }

    #description, .description{
        font-size: 5vw;
        max-width: 100%;
    }

    #reasons-div {
        max-width: 100%;
    }

    .section2-text{
        font-size: 5vw;
    }

    .section2-nosotros-text{
        font-size: 5vw;
    }

    #section3{
        max-width: 100%;
    }

    .section3-text{
        font-size: 5vw;
    }

    .footer-text{
        text-align: left;
    }
}